<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя кондитерская "Зеффир" Хабаровск</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="header">
        <div class="container text-center">
            <img class="logo" src="img/logo.jpg" width="ее" alt="Зеффир">
            <div class="site-title">Домашняя кондитерская "Зеффир"</div>
            <p class="lead">г.Хабаровск</p>
             <a  href="https://api.whatsapp.com/message/UCLXXJAFXBTYM1?autoload=1&app_absent=0"><ion-icon name="logo-whatsapp"></ion-icon></a>
             <a  href="https://vk.com/zeffir27"> <ion-icon name="logo-vk"></ion-icon></a>
             <a  href="https://instagram.com/_.zeffir_?igshid=NGVhN2U2NjQ0Yg==&utm_source=qr"> <ion-icon name="logo-instagram"></ion-icon></a>
           
        </div>
    </header>
    <div class="cart">
        <h2>Корзина</h2>
        <ul id="cart-items">
            <!-- Здесь будут отображаться выбранные товары -->
        </ul>
        <p id="cart-total">Итого: $0.00</p>
        <button id="checkout-button">Оформить заказ</button>
        <div id="checkout-form" style="display: none;">
            <label for="name">Имя:</label>
            <input type="text" id="name" placeholder="Введите ваше имя">
            <br>
            <label for="phone">Номер телефона:</label>
            <input type="text" id="phone" placeholder="Введите ваш номер телефона">
            <br>
            <button id="submit-order" onclick="submitOrder()">Подтвердить заказ</button>
        </div>
    </div>
   <div class="centered">
    <a href="bento.html" class="button">бенто</a>
    <a href="new.html" class="button">новинки</a>
    <a href="kaike.html" class="button">Капкейки</a>
    <a href="figur.html" class="button">Фигурки из шоколада</a>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product" data-product-id="30">
                    <div class="image">
                        <img src="img/new/buket1.jpg" alt="">
                    </div>
                    <div class="info">
                        <h3>Шоколадный букет из роз</h3>
                        <div>
                            <span class="prce">1500p</span>
                            <button class="add-to-cart" onclick="addToCart(this)"><ion-icon name="cart-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="product" data-product-id="31">
                    <div class="image">
                        <img src="img/new/buket2.jpg" alt="">
                    </div>
                    <div class="info">
                        <h3>Шоколадный букет из роз</h3>
                        <div>
                            <span class="prce">1500p</span>
                            <button class="add-to-cart" onclick="addToCart(this)"><ion-icon name="cart-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="product" data-product-id="32">
                    <div class="image">
                        <img src="img/new/buket3.jpg" alt="">
                    </div>
                    <div class="info">
                        <h3>Шоколадный букет из ромашек</h3>
                        <div>
                            <span class="prce">1500p</span>
                            <button class="add-to-cart" onclick="addToCart(this)"><ion-icon name="cart-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-4">
                <div class="product" data-product-id="13">
                    <div class="image">
                        <img src="img/bento/bento3.jpg" alt="">
                    </div>
                    <div class="info">
                        <h3>Бенто торт</h3>
                        <div>
                            <span class="prce">1500p</span>
                            <button class="add-to-cart" onclick="addToCart(this)"><ion-icon name="cart-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>  

            <div class="col-md-4">
                <div class="product" data-product-id="14">
                    <div class="image">
                        <img src="img/bento/bento4.jpg" alt="">
                    </div>
                    <div class="info">
                        <h3>Бенто набор</h3>
                        <div>
                            <span class="prce">2500p</span>
                            <button class="add-to-cart" onclick="addToCart(this)"><ion-icon name="cart-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>  
            
         >
         <div class="col-md-4">
            <div class="product" data-product-id="116">
                <div class="image">
                    <img src="img/bento/gomer.jpg" alt="">
                </div>
                <div class="info">
                    <h3>Бенто торт Гомер Симсон</h3>
                    <div>
                        <span class="prce">1500p</span>
                        <button class="add-to-cart" onclick="addToCart(this)"><ion-icon name="cart-outline"></ion-icon></button>
                    </div>
                </div>
            </div>
        </div>  
        

         
           
    </div>
    <script src="java.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>  
</body>
</html>